POSICIONES_ENTRENADORES=[3|2,6|4,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[]
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
TIEMPO_RECONEXION=5
RETARDO_CICLO_CPU=0
ALGORITMO_PLANIFICACION=SJF
QUANTUM=1
ESTIMACION_INICIAL=5
IP_BROKER=127.0.0.1
PUERTO_BROKER=5009
LOG_FILE=../../logsObligatorios/logteam1.txt
ALPHA=0.5
NOMBRE_PROCESO=TEAM_1
